body{
    font-family: monospace;
    background: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
    font-family: monospace;
}

main{
    color: white;
    display: grid;
    place-items: center;
    min-height: 100vh;
    text-align: center;     
    color: white;
}
main a{
    color: lightblue;
}

button {
    display: inline-block;
    text-align: center;
    width: 62px;
    height: 23px;
    }
    
main ul{
        padding-left: 0;
    }

main ul li {
        list-style-position: inside;
     }