 body{
    font-family: monospace;
    background: black;
    margin: 0;
    padding: 25px;
    font-family: monospace;
}

main{
    color: white;
    place-items: center;
    min-height: 100vh;
    text-align: center;     
    color: white;
}
a{
    color: lightblue;
}