img {
    display: inline-flex;
    width: 75px;
    height: 75px;
    flex-wrap: wrap;
    vertical-align: middle;
    justify-content: center;
    padding: 55px;
    margin: auto;
}
body{
    background-color: rgb(0, 0, 0);
}